Repository MarketHubproject/MarketHub-Django-WebApp, changes with the owners that CODEOWNERS names for each.
All owners: @frontend-team, @ui-ux-team, @tech-writers, @maintainers, @backend-team, @security-team, @qa-team

Add Step 10 completion summary
  STEP_10_FONT_AWESOME_CLEANUP_COMPLETION.md
Owners: @tech-writers, @maintainers

Clean up temporary completion summary file
  STEP_10_COMPLETION_SUMMARY.md
Owners: @tech-writers, @maintainers

feat: Add product image management system and fix Bootstrap Icons
  homepage/management/commands/add_product_images.py
  homepage/templates/homepage/base.html
Owners: @frontend-team, @ui-ux-team, @backend-team

docs: Add comprehensive progress summary and roadmap
  PROGRESS_SUMMARY.md
Owners: @tech-writers, @maintainers

Implement ProductsScreen with search, filters, and pagination
  App.tsx
  package-lock.json
  package.json
  src/navigation/AppNavigator.tsx
  src/screens/HomeScreen.tsx
  src/screens/LoginScreen.tsx
  src/screens/ProductsScreen.tsx
  src/screens/index.tsx
  src/services/api.ts
Owners: @frontend-team, @maintainers

Add ProductDetailScreen and fix TypeScript errors
  App.tsx
  package-lock.json
  package.json
  src/screens/ProductDetailScreen.tsx
  src/screens/index.tsx
  src/services/api.ts
Owners: @frontend-team, @maintainers

Complete MarketHub Mobile app with all core screens
  src/screens/CartScreen.tsx
  src/screens/FavoritesScreen.tsx
  src/screens/ProfileScreen.tsx
  src/screens/SignupScreen.tsx
  src/screens/index.tsx
Owners: none

feat: Add complete screens implementation (Cart, Signup, Favorites, Profile) with mock API integration
  App.tsx
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/markethubmobile/MainActivity.kt
  android/build.gradle
  android/gradle.properties
  index.js
  package-lock.json
  package.json
  src/screens/CartScreen.tsx
  src/screens/FavoritesScreen.tsx
  src/screens/HomeScreen.tsx
  src/screens/LoginScreen.tsx
  src/screens/ProductDetailScreen.tsx
  src/screens/ProductsScreen.tsx
  src/screens/ProfileScreen.tsx
  src/screens/SignupScreen.tsx
  src/services/mockApi.ts
Owners: @frontend-team, @maintainers

fix: Implement automatic navigation after successful login
  App.tsx
  src/screens/LoginScreen.tsx
Owners: none

hotfix: Temporarily disable Firebase Analytics to resolve build issues
  ANALYTICS_REMOVAL_NOTE.md
  index.js
  package-lock.json
  package.json
  src/App.tsx
  src/contexts/CartContext.tsx
  src/screens/AnalyticsDashboardScreen.tsx
  src/screens/CheckoutScreen.tsx
  src/screens/ProductCategoriesScreen.tsx
  src/services/analytics.ts
  src/services/arService.ts
  src/services/firebase.ts
  src/utils/analyticsStub.ts
Owners: @tech-writers, @maintainers, @frontend-team

Add Firebase Analytics reintegration ticket
  FIREBASE_ANALYTICS_REINTEGRATION_TICKET.md
Owners: @tech-writers, @maintainers

docs: update CONTRIBUTING.md for public repository
  CONTRIBUTING.md
Owners: @tech-writers, @maintainers

\feat: Complete student verification frontend with React-based ID scanner
  students/templates/students/base.html
  students/templates/students/dashboard.html
  students/templates/students/index.html
  students/templates/students/login.html
  students/templates/students/register.html
  students/templates/students/upload_id.html
Owners: @frontend-team, @ui-ux-team

🔒 SECURITY FIX: Escape product descriptions in all templates
  homepage/forms.py
  homepage/migrations/0005_userverificationprofile_userverificationlog_and_more.py
  homepage/models.py
  homepage/static/MarketHub/markethub.js
  homepage/templates/homepage/base.html
  homepage/templates/homepage/category_detail.html
  homepage/templates/homepage/daily_deals.html
  homepage/templates/homepage/index.html
  homepage/templates/homepage/product_detail.html
  homepage/templates/homepage/product_list.html
  homepage/templates/homepage/promotions.html
  homepage/templates/homepage/signup.html
  homepage/urls.py
  homepage/views.py
  markethub/settings/base.py
  markethub/settings/dev.py
  products/templates/products/product_list.html
  students/templates/students/help.html
  students/templates/students/privacy.html
Owners: @frontend-team, @ui-ux-team, @backend-team, @maintainers

✨ Add prominent second-hand marketplace branding
  homepage/templates/homepage/index.html
Owners: @frontend-team, @ui-ux-team, @backend-team

📊 Add deployment readiness assessment report - Production environment analysis with security and configuration checks complete
  deployment_readiness_report_production_20250818_151856.json
Owners: none

🚀 Deployment Ready: Security fixes + Heroku configuration
  .env.local-prod-test
  Procfile
  SECURITY_AUDIT_REPORT.md
  app.json
  automated_rebranding.py
  deploy.py
  markethub/settings.py
  markethub/settings/dev.py
  markethub/settings/heroku.py
  markethub/settings/prod_test.py
  markethub/settings_fresh.py
  rename_branding_files.py
  requirements.txt
  run_qa_workflow.py
  runtime.txt
  test_api.py
  test_minimal_settings.py
Owners: @tech-writers, @maintainers, @backend-team

🔧 FIX: Heroku deployment build issues
  markethub/settings/heroku.py
  requirements-full-backup.txt
  requirements-heroku.txt
  runtime.txt
Owners: @backend-team, @maintainers

Add .python-version for Render deployment
  .python-version
Owners: none

🔧 RENDER FIX: Updated deployment configuration
  render.yaml
Owners: none

Add deployment files to main branch for Render
  .python-version
  Procfile
  app.json
  requirements.txt
  runtime.txt
Owners: none

🔧 FIX: Gunicorn PATH issue on Render
  Procfile
  render.yaml
  start.sh
Owners: none

Update deployment files with gunicorn PATH fix
  Procfile
  render.yaml
  start.sh
Owners: none

Fix: Use python3 command for Render deployment compatibility
  Procfile
  Procfile.robust
  python-launcher.sh
  render.yaml
  start.sh
Owners: none

Fix: Add missing Django core files
  .env.render_complete
  manage.py
  markethub/__init__.py
  markethub/urls.py
  markethub/wsgi.py
Owners: @backend-team, @maintainers

Fix: Simplify Procfile to resolve web:: command not found error
  Procfile
Owners: none

Fix: Create settings module structure for markethub.settings.prod
  .env.render_complete
  markethub/settings/__init__.py
  markethub/settings/prod.py
Owners: @backend-team, @maintainers

Fix: Add default DATABASE_URL to prevent UndefinedValueError
  markethub/settings_production.py
Owners: @backend-team, @maintainers

Fix: Create missing homepage app files
  homepage/__init__.py
  homepage/admin.py
  homepage/apps.py
  homepage/context_processors.py
  homepage/middleware.py
  homepage/models.py
  homepage/urls.py
  homepage/views.py
Owners: none

Fix: Add markethub-app.onrender.com to ALLOWED_HOSTS
  markethub/settings_production.py
Owners: @backend-team, @maintainers

Add comprehensive e-commerce models and admin interface
  homepage/admin.py
  homepage/models.py
Owners: none

Add comprehensive e-commerce views and templates
  homepage/templates/homepage/base.html
  homepage/templates/homepage/home.html
  homepage/urls.py
  homepage/views.py
  markethub/urls.py
Owners: @frontend-team, @ui-ux-team, @backend-team, @maintainers

Add store setup management command
  homepage/management/__init__.py
  homepage/management/commands/__init__.py
  homepage/management/commands/setup_store.py
Owners: none

Add simple admin creation command
  homepage/management/commands/create_admin.py
Owners: none

Add web-based setup for free tier users
  homepage/apps.py
  homepage/urls.py
  homepage/views.py
  markethub/settings_production.py
Owners: @backend-team, @maintainers

Fix database migration issues for production deployment
  homepage/management/commands/setup_store.py
  homepage/migrations/0001_initial.py
  homepage/migrations/__init__.py
  homepage/views.py
Owners: none

\Add comprehensive debugging for 500 error diagnosis"
  homepage/urls.py
  homepage/views.py
Owners: none

\Restore full homepage with products and categories display"
  homepage/views.py
Owners: none

\FINAL FIX: Bulletproof homepage that handles all template errors"
  homepage/views.py
Owners: none

\Deploy complete bulletproof e-commerce navigation system"
  homepage/views.py
Owners: none

CODEOWNERS:

# Code ownership for MarketHub
# Users and teams mentioned here will be automatically requested for review when PRs modify matching files

# Templates - UI/UX and Frontend Team
# All template changes require review to prevent icon regressions and maintain design consistency
templates/** @frontend-team @ui-ux-team

# HTML templates specifically
*.html @frontend-team @ui-ux-team

# CSS and SCSS files - Style changes need design team approval
*.css @frontend-team @ui-ux-team
*.scss @frontend-team @ui-ux-team

# JavaScript files affecting UI
*/static/**/*.js @frontend-team

# Documentation - Technical writers and maintainers
docs/** @tech-writers @maintainers
*.md @tech-writers @maintainers

# Style guide - Design team must approve changes
docs/style-guide/** @ui-ux-team @frontend-team @maintainers

# Configuration files that affect styling and linting
.stylelintrc.json @frontend-team @maintainers
package.json @frontend-team @maintainers

# Critical Django template directories
homepage/templates/** @frontend-team @ui-ux-team @backend-team

# Global ownership patterns
# Ensure sensitive areas get proper review
/markethub/ @backend-team @maintainers
/accounts/ @backend-team @security-team
/tests/ @backend-team @qa-team

# Example team assignments - Update with actual GitHub usernames/teams:
# @frontend-team could include: @johndoe @janedoe
# @ui-ux-team could include: @designer1 @designer2  
# @backend-team could include: @backend-dev1 @backend-dev2
# @maintainers could include: @project-lead @senior-dev
# @security-team could include: @security-specialist
# @qa-team could include: @qa-engineer1 @qa-engineer2
# @tech-writers could include: @technical-writer

# Note: Replace the example team names above with actual GitHub usernames or team names
# when you have your GitHub repository set up with proper teams and collaborators.
