Repository MarketHubproject/MarketHub-Django-WebApp, changes with the owners that CODEOWNERS names for each.
All owners: @frontend-team, @ui-ux-team, @tech-writers, @maintainers, @backend-team, @security-team, @qa-team

CODEOWNERS:

# Code ownership for MarketHub
# Users and teams mentioned here will be automatically requested for review when PRs modify matching files

# Templates - UI/UX and Frontend Team
# All template changes require review to prevent icon regressions and maintain design consistency
templates/** @frontend-team @ui-ux-team

# HTML templates specifically
*.html @frontend-team @ui-ux-team

# CSS and SCSS files - Style changes need design team approval
*.css @frontend-team @ui-ux-team
*.scss @frontend-team @ui-ux-team

# JavaScript files affecting UI
*/static/**/*.js @frontend-team

# Documentation - Technical writers and maintainers
docs/** @tech-writers @maintainers
*.md @tech-writers @maintainers

# Style guide - Design team must approve changes
docs/style-guide/** @ui-ux-team @frontend-team @maintainers

# Configuration files that affect styling and linting
.stylelintrc.json @frontend-team @maintainers
package.json @frontend-team @maintainers

# Critical Django template directories
homepage/templates/** @frontend-team @ui-ux-team @backend-team

# Global ownership patterns
# Ensure sensitive areas get proper review
/markethub/ @backend-team @maintainers
/accounts/ @backend-team @security-team
/tests/ @backend-team @qa-team

# Example team assignments - Update with actual GitHub usernames/teams:
# @frontend-team could include: @johndoe @janedoe
# @ui-ux-team could include: @designer1 @designer2  
# @backend-team could include: @backend-dev1 @backend-dev2
# @maintainers could include: @project-lead @senior-dev
# @security-team could include: @security-specialist
# @qa-team could include: @qa-engineer1 @qa-engineer2
# @tech-writers could include: @technical-writer

# Note: Replace the example team names above with actual GitHub usernames or team names
# when you have your GitHub repository set up with proper teams and collaborators.

Fix production 500 errors with enhanced bulletproof fallback views
  db.sqlite3
  homepage/__pycache__/__init__.cpython-313.pyc
  homepage/__pycache__/admin.cpython-313.pyc
  homepage/__pycache__/apps.cpython-313.pyc
  homepage/__pycache__/middleware.cpython-313.pyc
  homepage/__pycache__/models.cpython-313.pyc
  homepage/__pycache__/urls.cpython-313.pyc
  homepage/__pycache__/views.cpython-313.pyc
  homepage/management/__pycache__/__init__.cpython-313.pyc
  homepage/management/commands/__pycache__/__init__.cpython-313.pyc
  homepage/management/commands/__pycache__/setup_store.cpython-313.pyc
  homepage/migrations/__pycache__/0001_initial.cpython-313.pyc
  homepage/migrations/__pycache__/__init__.cpython-313.pyc
  homepage/urls.py
  homepage/views.py
  markethub/__pycache__/__init__.cpython-313.pyc
  markethub/__pycache__/settings_production.cpython-313.pyc
  markethub/__pycache__/urls.cpython-313.pyc
  markethub/__pycache__/wsgi.cpython-313.pyc
Owners: @backend-team, @maintainers

Fix production 500 errors with fallback views and error handling
  homepage/urls.py
  homepage/views.py
Owners: none

Add targeted database fix endpoint for slug column issue
  homepage/urls.py
  homepage/views.py
Owners: none

Add automatic schema fix to setup endpoint for slug column issue
  homepage/views.py
Owners: none

Add professional template system with base template, homepage, and product listing
  homepage/templatetags/__init__.py
  homepage/templatetags/homepage_filters.py
  homepage/urls.py
  homepage/views.py
  markethub/settings_production.py
  templates/base.html
  templates/homepage/home.html
  templates/homepage/product_list.html
Owners: @backend-team, @maintainers, @frontend-team, @ui-ux-team
